In [1]:
import os 
import duckdb 
from dotenv import load_dotenv

In [2]:
# loading the env 
load_dotenv()

# setting up the paths 
base_path = os.getenv('base_path')
database = os.getenv('database_path')

In [3]:
# setting up the in memory database 
database_path = f"{database}/database.db"

# connecting to database file 
ddb = duckdb.connect(database_path)

In [4]:
# create table dim_seller and create all of its relationships 
ddb.execute(
    '''
        CREATE TABLE IF NOT EXISTS dim_sellers AS 
        SELECT 
            s.*, 
            g.GeoLocId
        FROM
            read_csv_auto(?) s 
        JOIN 
            dim_geolocation g 
        ON
            s.seller_zip_code_prefix = g.GeoLocZipCodePrefix
        AND 
            s.seller_city = g.GeoLocCity
        AND 
            s.seller_state = g.GeoLocState;
    ''',
    (f"{base_path}/datasets/olist_sellers_dataset.csv",)
)

In [5]:
# renaming tables in dim_seller 
ddb.sql(
    '''
        ALTER TABLE dim_sellers 
        RENAME seller_id TO SellerId;
    '''
)

ddb.sql(
    '''
        ALTER TABLE dim_sellers 
        RENAME seller_zip_code_prefix TO SellerZipCodePrefix;
    '''
)

ddb.sql(
    '''
        ALTER TABLE dim_sellers 
        RENAME seller_city TO SellerCity;
    '''
)

ddb.sql(
    '''
        ALTER TABLE dim_sellers 
        RENAME seller_state TO SellerState;
    '''
)

In [6]:
ddb.sql(
    '''
        SELECT *
        FROM dim_sellers;
    '''
)

┌──────────────────────────────────┬─────────────────────┬────────────┬─────────────┬──────────────────────────────────────┐
│             SellerId             │ SellerZipCodePrefix │ SellerCity │ SellerState │               GeoLocId               │
│             varchar              │       varchar       │  varchar   │   varchar   │                 uuid                 │
├──────────────────────────────────┼─────────────────────┼────────────┼─────────────┼──────────────────────────────────────┤
│ ad420dd0c4f92f8af951ac24b86d0cf5 │ 38230               │ fronteira  │ MG          │ c0d6d646-676e-4e2c-8e17-3fa80b95c9b5 │
│ ad420dd0c4f92f8af951ac24b86d0cf5 │ 38230               │ fronteira  │ MG          │ 6b540dd8-5332-489e-bcc7-9a2a311c672e │
│ ad420dd0c4f92f8af951ac24b86d0cf5 │ 38230               │ fronteira  │ MG          │ f2c8cbdc-4b88-489e-84d7-c5d73a121cf6 │
│ ad420dd0c4f92f8af951ac24b86d0cf5 │ 38230               │ fronteira  │ MG          │ 66641bdd-897a-4887-881c-2df903e63eaf │
│ ad420dd0c4f92f8af951ac24b86d0cf5 │ 38230               │ fronteira  │ MG          │ 3d9ff990-c9c1-4f5b-92a9-928e4c7f793d │
│ ad420dd0c4f92f8af951ac24b86d0cf5 │ 38230               │ fronteira  │ MG          │ ed054d6b-e8b9-470e-9764-9d85374d84ef │
│ ad420dd0c4f92f8af951ac24b86d0cf5 │ 38230               │ fronteira  │ MG          │ dc7edc51-7e57-4017-9de0-a5d1c44fe08c │
│ ad420dd0c4f92f8af951ac24b86d0cf5 │ 38230               │ fronteira  │ MG          │ 9bc9747c-4a71-4499-a93d-1604e9104a05 │
│ ad420dd0c4f92f8af951ac24b86d0cf5 │ 38230               │ fronteira  │ MG          │ ed091018-4b4f-4a0a-aef2-251973486536 │
│ ad420dd0c4f92f8af951ac24b86d0cf5 │ 38230               │ fronteira  │ MG          │ 2477bf7c-d3c3-4a50-8835-49153f15512f │
│                ·                 │   ·                 │    ·       │ ·           │                  ·                   │
│                ·                 │   ·                 │    ·       │ ·           │                  ·                   │
│                ·                 │   ·                 │    ·       │ ·           │                  ·                   │
│ eb4a59a06b3948e851a7d7a830bcbc42 │ 41820               │ salvador   │ BA          │ 2f2ab556-b7e4-455d-be82-56c0f68b95e2 │
│ eb4a59a06b3948e851a7d7a830bcbc42 │ 41820               │ salvador   │ BA          │ 741347fb-f90d-43f1-9552-1725c82a23ca │
│ eb4a59a06b3948e851a7d7a830bcbc42 │ 41820               │ salvador   │ BA          │ 1b0a6dd8-0f6e-44b6-8d9f-f6e47e12593b │
│ eb4a59a06b3948e851a7d7a830bcbc42 │ 41820               │ salvador   │ BA          │ ce38bfb9-4227-404d-b818-a342402c83e9 │
│ eb4a59a06b3948e851a7d7a830bcbc42 │ 41820               │ salvador   │ BA          │ a5703853-26df-42b9-87a2-7da961780926 │
│ eb4a59a06b3948e851a7d7a830bcbc42 │ 41820               │ salvador   │ BA          │ 373effe4-63d2-44d7-8791-b6c1284f9446 │
│ eb4a59a06b3948e851a7d7a830bcbc42 │ 41820               │ salvador   │ BA          │ 9cd2a21a-dc94-471a-9cab-1d79854ee03b │
│ eb4a59a06b3948e851a7d7a830bcbc42 │ 41820               │ salvador   │ BA          │ a7995668-5626-45cc-bfb4-1fe6f1bdd5d1 │
│ eb4a59a06b3948e851a7d7a830bcbc42 │ 41820               │ salvador   │ BA          │ 7b4ba8ca-a2eb-4697-b38a-2e350124deb7 │
│ eb4a59a06b3948e851a7d7a830bcbc42 │ 41820               │ salvador   │ BA          │ 3cc0c63e-5fab-4c9e-9464-2a6f4dd00cb3 │
├──────────────────────────────────┴─────────────────────┴────────────┴─────────────┴──────────────────────────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                                                  5 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [7]:
# Checking the data types of every column
ddb.sql(
    '''
        SELECT column_name, data_type
        FROM information_schema.columns
        WHERE table_name = 'dim_sellers';
    '''
)

┌─────────────────────┬───────────┐
│     column_name     │ data_type │
│       varchar       │  varchar  │
├─────────────────────┼───────────┤
│ SellerId            │ VARCHAR   │
│ SellerZipCodePrefix │ VARCHAR   │
│ SellerCity          │ VARCHAR   │
│ SellerState         │ VARCHAR   │
│ GeoLocId            │ UUID      │
└─────────────────────┴───────────┘

In [8]:
# Checking null values in dim_sellers table 
ddb.sql(
    '''
        SELECT
            COUNT(*) AS total_rows,
            COUNT(CASE WHEN SellerId IS NULL THEN 1 END) AS SellerId,
            COUNT(CASE WHEN SellerZipCodePrefix IS NULL THEN 1 END) AS SellerZipCodePrefix,
            COUNT(CASE WHEN SellerCity IS NULL THEN 1 END) AS SellerCity,
            COUNT(CASE WHEN SellerState IS NULL THEN 1 END) AS SellerState,
            COUNT(CASE WHEN GeoLocId IS NULL THEN 1 END) AS GeoLocId,
        FROM 
            dim_sellers;
    '''
)

┌────────────┬──────────┬─────────────────────┬────────────┬─────────────┬──────────┐
│ total_rows │ SellerId │ SellerZipCodePrefix │ SellerCity │ SellerState │ GeoLocId │
│   int64    │  int64   │        int64        │   int64    │    int64    │  int64   │
├────────────┼──────────┼─────────────────────┼────────────┼─────────────┼──────────┤
│     385584 │        0 │                   0 │          0 │           0 │        0 │
└────────────┴──────────┴─────────────────────┴────────────┴─────────────┴──────────┘

In [9]:
# Checking and changing the datatypes of the dim_customers table to its appropriate data 
# 1. Add a new column with the correct type
ddb.sql('''
    ALTER TABLE dim_sellers
    ALTER COLUMN SellerZipCodePrefix SET DATA TYPE INT;
''')

In [10]:
# Define the output directory and ensure it exists
output_dir = "/Users/macintoshcider/Documents/Programming/Python/ETL/climate-commerce/analytics"
output_file = os.path.join(output_dir, "dim_sellers.csv")
ddb.execute(
    f"""
        COPY dim_sellers TO '{output_file}' (FORMAT CSV, HEADER);
    """
)
print(f"Data successfully exported to {output_file}")

Data successfully exported to /Users/macintoshcider/Documents/Programming/Python/ETL/climate-commerce/analytics/dim_sellers.csv

In [11]:
# finally closing the duckdb connection
ddb.close()