In [1]:
import os 
import duckdb
from dotenv import load_dotenv

In [2]:
# loading the env's 
load_dotenv()

# setting up the paths 
base_path = os.getenv('base_path')
database = os.getenv('database_path')

In [3]:
# setting up the database path 
database_path = f"{database}/database.db"

# setting up the connection to the database file 
ddb = duckdb.connect(database_path)

In [9]:
# ingesting customer csv table and create its relationship to other tables 
ddb.execute(
    '''
        CREATE TABLE IF NOT EXISTS dim_customers AS 
        SELECT 
            c.*,
            g.GeoLocId
        FROM 
            read_csv_auto(?) c
        JOIN
            dim_geolocation g
        ON
            c.customer_zip_code_prefix = g.GeoLocZipCodePrefix
        AND 
            c.customer_city = g.GeoLocCity
        AND 
            c.customer_state = g.GeoLocState;
    ''',
    (f"{base_path}/datasets/olist_customers_dataset.csv",)
)

In [10]:
ddb.sql('''
    SELECT 
        *
    FROM dim_customers;
''')

┌──────────────────────────────────┬──────────────────────────────────┬───────────────────────┬──────────────┬───────────────┬──────────────────────────────────────┐
│            CustomerId            │         CustomerUniqueId         │ CustomerZipCodePrefix │ CustomerCity │ CustomerState │               GeoLocId               │
│             varchar              │             varchar              │        varchar        │   varchar    │    varchar    │                 uuid                 │
├──────────────────────────────────┼──────────────────────────────────┼───────────────────────┼──────────────┼───────────────┼──────────────────────────────────────┤
│ 6519f59a7687a4661f7c8a7e24f28f94 │ 324ce23e08a1768007118a11836ea7d3 │ 01037                 │ sao paulo    │ SP            │ 23f1e31a-7457-4c8c-8d0a-63a8a77111f4 │
│ f253f58c3e8f21a0997f6332ecc0c01d │ 9e5663921908dcd140cf657688ef6a0b │ 01046                 │ sao paulo    │ SP            │ 2eae17cc-a488-4329-826d-1ab76f2f6a68 │
│ f253f58c3e8f21a0997f6332ecc0c01d │ 9e5663921908dcd140cf657688ef6a0b │ 01046                 │ sao paulo    │ SP            │ d10d7988-1ffb-456e-a915-0f4cd07e691f │
│ 7ad886c06d1fec7bef7e5b62b00554df │ 457a4576ad1939974d06c92f20d1df7e │ 01041                 │ sao paulo    │ SP            │ 8f0ed4f0-1fa3-4c42-8dff-0841f1672c7e │
│ df578de48490fad348557aca8514d6be │ 87efb3bc38dea0dc5625e73a053724bc │ 01035                 │ sao paulo    │ SP            │ 56df58d5-eedb-4b7d-b344-b1d8c30cd255 │
│ 8e169211e544065a036c309b0088e87f │ 6893b41a1b6bb36ae089d72ed9d166a4 │ 01047                 │ sao paulo    │ SP            │ 606b7fc0-2f8e-49d0-8e6f-b7835ed8d794 │
│ 092389b0ad58d08590243690dc4db793 │ 1ba9f0980fa83e3f8815eeb8c8afd14e │ 01013                 │ sao paulo    │ SP            │ b248ac10-2dc6-4974-94b4-e7b78c6420d0 │
│ 3b7635130d1327ea2b273050efc450a9 │ 0220755d57fdf6a1f63f39f51bb5fb90 │ 01011                 │ sao paulo    │ SP            │ 3d73f422-d112-4f4d-93db-390ee213029c │
│ 092389b0ad58d08590243690dc4db793 │ 1ba9f0980fa83e3f8815eeb8c8afd14e │ 01013                 │ sao paulo    │ SP            │ 6e9396fc-6a2c-412a-a77f-37b8f235cfb9 │
│ 1ee0463373450df45e0eb902fd7e066e │ 22d64c509a1b9ce57345c62df274e772 │ 01032                 │ sao paulo    │ SP            │ 81d6655d-461a-4bed-b778-8f9001e5a87f │
│                ·                 │                ·                 │   ·                   │     ·        │ ·             │                  ·                   │
│                ·                 │                ·                 │   ·                   │     ·        │ ·             │                  ·                   │
│                ·                 │                ·                 │   ·                   │     ·        │ ·             │                  ·                   │
│ 2813a2e8f60bfa209c3b3e3f1a442f54 │ 668516e2b97d15cae49c16310816ed11 │ 01222                 │ sao paulo    │ SP            │ c387e0ce-c377-430f-9384-2b56c3faa7b0 │
│ c36d2a6b08edc9be276ccf9f1f48953a │ 1abebcce77574ad07e7cfae15188e68c │ 01242                 │ sao paulo    │ SP            │ aafabae6-324e-4e67-93cc-4ff440469d5b │
│ c38a80e0350ff3bb0771ef23799199c3 │ b239b3d65726c187cdd7c52c94254db0 │ 01227                 │ sao paulo    │ SP            │ a09a12d6-2ce9-435f-939a-198fbe26c3e6 │
│ ba8832dcb9bd10625d712651ec217efb │ 8621acc0a5139a8eddae89ef04239ace │ 01232                 │ sao paulo    │ SP            │ 9b6d9b00-2bc7-4ec7-8041-cd62c55c2cee │
│ 0f9de5340f8ca84a67a3fc4e971965cb │ d4842aa226d96a1cce7414b48c1dba85 │ 01207                 │ sao paulo    │ SP            │ 106fe1b1-35de-4577-87bd-d04747895ac1 │
│ c8830d8a8312a8b3b74370c4e61202ec │ 8b433c0e7b7d2a1f1148b4277cc673f8 │ 01221                 │ sao paulo    │ SP            │ f39bc1bf-a03d-44a3-ad3e-731bb567ae51 │
│ d867a7f45fa7d5dbf33f736581b9b003 │ 3b974605c0e7e9dc99c2ef3e36aa0c6c │ 01211                 │ sao paulo    │ SP            │ e98e2dc5-d905-4a28-9d6e-d82dbafe45aa │
│ f620701a6e9f1096468511e9c2406a67 │ 45f95ec2f14442de49d9580396597ee9 │ 01223                 │ sao paulo    │ SP            │ 7011cad4-d770-4fe9-8c42-9f8428ab8d34 │
│ d867a7f45fa7d5dbf33f736581b9b003 │ 3b974605c0e7e9dc99c2ef3e36aa0c6c │ 01211                 │ sao paulo    │ SP            │ 2a70936d-c917-421e-8ca3-4ab1c9b8c6e7 │
│ 6a65261dcad2b1ac3c5a6c25d473809e │ 9674f02855dc82f80b155f2d7d8b6e38 │ 01208                 │ sao paulo    │ SP            │ fd68811b-7524-41ff-a750-544b2d733b3c │
├──────────────────────────────────┴──────────────────────────────────┴───────────────────────┴──────────────┴───────────────┴──────────────────────────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                                                                                           6 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [11]:
# renaming tables in dim_customer 
ddb.sql(
    '''
        ALTER TABLE dim_customers 
        RENAME customer_id to CustomerId;
    '''
)

ddb.sql(
    '''
        ALTER TABLE dim_customers 
        RENAME customer_unique_id to CustomerUniqueId;
    '''
)

ddb.sql(
    '''
        ALTER TABLE dim_customers 
        RENAME customer_zip_code_prefix to CustomerZipCodePrefix;
    '''
)

ddb.sql(
    '''
        ALTER TABLE dim_customers 
        RENAME customer_city to CustomerCity;
    '''
)

ddb.sql(
    '''
        ALTER TABLE dim_customers 
        RENAME customer_state to CustomerState;
    '''
)

BinderException: Binder Error: Table "dim_customers" does not have a column with name "customer_id"

In [25]:
# Checking data types of every column
ddb.sql(
    '''
        SELECT column_name, data_type
        FROM information_schema.columns
        WHERE table_name = 'dim_customers';
    '''
)

┌───────────────────────┬───────────┐
│      column_name      │ data_type │
│        varchar        │  varchar  │
├───────────────────────┼───────────┤
│ CustomerId            │ VARCHAR   │
│ CustomerUniqueId      │ VARCHAR   │
│ CustomerCity          │ VARCHAR   │
│ CustomerState         │ VARCHAR   │
│ GeoLocId              │ UUID      │
│ CustomerZipCodePrefix │ INTEGER   │
└───────────────────────┴───────────┘

In [17]:
# Checking null values in dim_customers table 
ddb.sql(
    '''
        SELECT
            COUNT(*) AS total_rows,
            COUNT(CASE WHEN CustomerId IS NULL THEN 1 END) AS CustomerId,
            COUNT(CASE WHEN CustomerUniqueId IS NULL THEN 1 END) AS CustomerUniqueId,
            COUNT(CASE WHEN CustomerZipCodePrefix IS NULL THEN 1 END) AS CustomerZipCodePrefix,
            COUNT(CASE WHEN CustomerCity IS NULL THEN 1 END) AS CustomerCity,
            COUNT(CASE WHEN CustomerState IS NULL THEN 1 END) AS CustomerState,
            COUNT(CASE WHEN GeoLocId IS NULL THEN 1 END) AS GeoLocId,
        FROM 
            dim_customers;
    '''
)

┌────────────┬────────────┬──────────────────┬───────────────────────┬──────────────┬───────────────┬──────────┐
│ total_rows │ CustomerId │ CustomerUniqueId │ CustomerZipCodePrefix │ CustomerCity │ CustomerState │ GeoLocId │
│   int64    │   int64    │      int64       │         int64         │    int64     │     int64     │  int64   │
├────────────┼────────────┼──────────────────┼───────────────────────┼──────────────┼───────────────┼──────────┤
│   14129363 │          0 │                0 │                     0 │            0 │             0 │        0 │
└────────────┴────────────┴──────────────────┴───────────────────────┴──────────────┴───────────────┴──────────┘

In [24]:
# Checking and changing the datatypes of the dim_customers table to its appropriate data 
# 1. Add a new column with the correct type
ddb.sql('''
    ALTER TABLE dim_customers
    ADD COLUMN CustomerZipCodePrefix_temp INT;
''')

# 2. Update the new column with the casted values from the original column
ddb.sql('''
    UPDATE dim_customers
    SET CustomerZipCodePrefix_temp = CAST(CustomerZipCodePrefix AS INT);
''')

# 3. Drop the old column
ddb.sql('''
    ALTER TABLE dim_customers
    DROP COLUMN CustomerZipCodePrefix;
''')

# 4. Rename the new column to match the original column name
ddb.sql('''
    ALTER TABLE dim_customers
    RENAME COLUMN CustomerZipCodePrefix_temp TO CustomerZipCodePrefix;
''')

In [26]:
# Define the output directory and ensure it exists
output_dir = "/Users/macintoshcider/Documents/Programming/Python/ETL/climate-commerce/analytics"
output_file = os.path.join(output_dir, "dim_customers.csv")
ddb.execute(
    f"""
        COPY dim_sellers TO '{output_file}' (FORMAT CSV, HEADER);
    """
)
print(f"Data successfully exported to {output_file}")

Data successfully exported to /Users/macintoshcider/Documents/Programming/Python/ETL/climate-commerce/analytics/dim_customers.csv

In [27]:
# finally close the duckdb connection
ddb.close()