In [1]:
import os 
import duckdb 
from dotenv import load_dotenv

In [2]:
# instanstiating the dotenv to have an access to env vars 
load_dotenv()

# setting up the paths 
base_path = os.getenv('base_path')
database = os.getenv('database_path')

In [3]:
# setting up the database path 
database_path = f"{database}/database.db"

# connect to the databse file
ddb = duckdb.connect(database_path)

In [4]:
# create view for the order items dataset 
ddb.execute(
    f'''
        CREATE VIEW IF NOT EXISTS view_order_items AS 
        SELECT *
        FROM read_csv_auto('{base_path}/datasets/olist_order_items_dataset.csv');
    '''
)

In [5]:
# breaking down the creation of fct_table 
# 1.1
ddb.execute(
    '''
        CREATE TEMPORARY TABLE tmp_orders_data AS
        SELECT
            o.OrderId,
            vo.customer_id,
            vo.order_purchase_timestamp,
            o.OrderStatus
        FROM
            dim_orders o
        LEFT JOIN view_orders_data vo ON o.OrderId = vo.order_id;
    '''
)

In [6]:
# 1.2 
ddb.execute(
    '''
        CREATE TEMPORARY TABLE tmp_order_items AS
        SELECT
            voi.order_id,
            voi.product_id,
            voi.seller_id,
            voi.price,
            voi.freight_value
        FROM
            view_order_items voi
        LEFT JOIN dim_products p ON voi.product_id = p.ProductId
        LEFT JOIN dim_sellers s ON voi.seller_id = s.SellerId;
    '''
)

In [7]:
# 1.3
ddb.execute(
    '''
        CREATE TEMPORARY TABLE tmp_payments_reviews AS
        SELECT
            pay.OrderId,
            pay.PaymentType,
            vr.review_score
        FROM
            dim_payments pay
        LEFT JOIN view_reviews_data vr ON pay.OrderId = vr.order_id;
    '''
)

In [8]:
# 1.4 (Final)
ddb.execute(
    '''
        CREATE TABLE IF NOT EXISTS fct_sales AS
        SELECT
            o.OrderId,
            o.customer_id,
            i.product_id,
            i.seller_id,
            p.PaymentType,
            o.order_purchase_timestamp,
            o.OrderStatus,
            i.price,
            i.freight_value,
            p.review_score
        FROM
            tmp_orders_data o
        LEFT JOIN tmp_order_items i ON o.OrderId = i.order_id
        LEFT JOIN tmp_payments_reviews p ON o.OrderId = p.OrderId;
    '''
)

In [9]:
ddb.sql(
    '''
        SELECT *
        FROM fct_sales;
    '''
)

┌──────────────────────────────────┬──────────────────────────────────┬──────────────────────────────────┬──────────────────────────────────┬─────────────┬──────────────────────────┬─────────────┬────────┬───────────────┬──────────────┐
│             OrderId              │           customer_id            │            product_id            │            seller_id             │ PaymentType │ order_purchase_timestamp │ OrderStatus │ price  │ freight_value │ review_score │
│             varchar              │             varchar              │             varchar              │             varchar              │   varchar   │        timestamp         │   varchar   │ double │    double     │    int64     │
├──────────────────────────────────┼──────────────────────────────────┼──────────────────────────────────┼──────────────────────────────────┼─────────────┼──────────────────────────┼─────────────┼────────┼───────────────┼──────────────┤
│ 972f5a89813198a05f8dd4463d82f3fc │ 50c7d896c15275b96cca5fc50866500b │ 08574b074924071f4e201e151b152b4e │ 001cca7ae9ae17fb1caed9dfb1094831 │ credit_card │ 2017-05-14 18:35:12      │ delivered   │   99.0 │         38.53 │            5 │
│ 973099d5fd52c77163406f2eba72dfc6 │ 4118b74a807396d8c976e9cf09b632e4 │ 6e2c62713ec17c681eacdf653dddb4e5 │ 9df5750209b83567ec144eb299d7d634 │ credit_card │ 2017-12-07 08:01:35      │ delivered   │  548.0 │         37.64 │            1 │
│ 9730a429f7355c2dcdbcfef54b638172 │ a613fd651e8ace0cfe8e7b43534d9752 │ 3540941843e8ab59a8a8ed75970562db │ a3a38f4affed601eb87a97788c949667 │ credit_card │ 2017-09-16 12:47:53      │ delivered   │   84.9 │         17.03 │            5 │
│ 9731b9dcecf4024f99c9faa130acc841 │ 0f40ab9e9635185fe9b9e42c0f7d4fea │ 9478ba3a27de728ec65cf5048a23f34c │ cca3071e3e9bb7d12640c9fbe2301306 │ credit_card │ 2018-06-20 20:50:25      │ delivered   │  54.72 │         18.48 │            5 │
│ 9734c61e70431951ceea6da4c1c2a063 │ 97ba00d9333c050db94cfeef8297c73b │ 3f1361100ad34281edf04ce745f62b89 │ 0241d4d5d36f10f80c644447315af0bd │ credit_card │ 2018-05-11 15:30:22      │ delivered   │  249.0 │         84.44 │            1 │
│ 97352341e218f0089a070b1be89f47bf │ 71dfdf073dec8dd60727c8d8e3adb675 │ 76d75f398634bf194ba99d7297e7d1fa │ 974cf2cb8f4b7add98709c30df02fe10 │ debit_card  │ 2018-06-14 08:38:14      │ delivered   │  52.99 │         18.47 │            5 │
│ 973548765ef313758de16c641c195baf │ 5b36c9f4f0c829730b0e2a4e5b26aeea │ 6f3b5b605d91b7439c5e3f5a8dffeea7 │ 7d13fca15225358621be4086e1eb0964 │ boleto      │ 2018-05-08 09:15:25      │ delivered   │  145.0 │         18.89 │            5 │
│ 9735a2f9279006018ed254377240bf4c │ cda77e1d58299ba7c036175a201d4d8b │ c21390fcf82d68f3a008468547cc3e66 │ 7178f9f4dd81dcef02f62acdf8151e01 │ boleto      │ 2018-01-14 20:01:54      │ delivered   │   14.9 │          15.1 │            4 │
│ 9735a2f9279006018ed254377240bf4c │ cda77e1d58299ba7c036175a201d4d8b │ c21390fcf82d68f3a008468547cc3e66 │ 7178f9f4dd81dcef02f62acdf8151e01 │ boleto      │ 2018-01-14 20:01:54      │ delivered   │   14.9 │          15.1 │            4 │
│ 97369eeb115806c27ee2054105eabe97 │ 35647e39316747b2bb470dc93ddb67aa │ 2083a6feb4bbb31f6abc92fc24e468c0 │ 18a349e75d307f4b4cc646a691ed4216 │ voucher     │ 2018-05-31 10:45:36      │ delivered   │    5.0 │          7.39 │            5 │
│                ·                 │                ·                 │                ·                 │                ·                 │   ·         │          ·               │     ·       │     ·  │            ·  │            · │
│                ·                 │                ·                 │                ·                 │                ·                 │   ·         │          ·               │     ·       │     ·  │            ·  │            · │
│                ·                 │                ·                 │                ·                 │                ·                 │   ·         │          ·               │     ·       │     ·  │            ·  │            · │
│ 96769985957712690cadddb661db2bd3 │ dd43dd0d642c95dad47beb575bdb3ff9 │ c6e474e4e7e08a02bd7153cfe6d68dfc │ 5cf13accae3222c70a9cac40818ae839 │ boleto      │ 2018-08-09 09:34:07      │ delivered   │   99.9 │          15.0 │            5 │
│ 9676a8d4d68b73a967fedb5eb0d82c21 │ 6cce36a98cd5c919be3b11396c802228 │ 18486698933fbb64af6c0a255f7dd64c │ 6973a06f484aacf400ece213dbf3d946 │ credit_card │ 2018-04-09 18:41:20      │ delivered   │  83.49 │          7.93 │            5 │
│ 9676f1e8ea577fa55c55fdf4f0083a0d │ 2de3c6bbbf7519ebf48c6b28a2416227 │ a5647c44af977b148e0a3a4751a09e2e │ 7c67e1448b00f6e969d365cea6b010ab │ credit_card │ 2017-10-25 09:34:31      │ delivered   │ 149.94 │         29.84 │            3 │
│ 967868315b8ce562c1deec7e1ce602a5 │ a947dfb481280eb7ef13c1c05727f340 │ 70906e04da1eebf3d1b8791bd09ffe85 │ 8e6d7754bc7e0f22c96d255ebda59eba │ boleto      │ 2018-01-10 15:27:50      │ delivered   │  79.89 │         57.56 │            4 │
│ 967868315b8ce562c1deec7e1ce602a5 │ a947dfb481280eb7ef13c1c05727f340 │ 3516632e8f52b679ff83d1665ecc990e │ e9bc59e7b60fc3063eb2290deda4cced │ boleto      │ 2018-01-10 15:27:50      │ delivered   │   75.9 │          3.86 │            4 │
│ 967a1ffa4d1aff6e74e409fd8bc229ce │ 57914af04147062f22b01de2efee289c │ b8762d562d810c2f8d7ad7e9c12957be │ dbb9b48c841a0e39e21f98e1a6b2ec3e │ credit_card │ 2017-10-28 19:05:44      │ delivered   │  29.89 │         16.11 │            5 │
│ 967b0e60c5ee39c56e26e3b441c0eaab │ 632dd519b6ef9b17fdde07505296cebb │ 12a3dba07d03c2dedf0c40d6499b55d3 │ 31344c16881c08a8a72c6d2eb29918c1 │ boleto      │ 2017-12-09 12:39:36      │ delivered   │  189.9 │         59.77 │            4 │
│ 967ed7a1aa1d6b190c903a3daa815f02 │ 058abae409b8feebc30f284da465a1ff │ 99a4788cb24856965c36a24e339b6058 │ 4a3ca9315b744ce9f8e9374361493884 │ credit_card │ 2017-03-05 15:51:55      │ delivered   │   89.9 │         16.33 │            2 │
│ 967ed7a1aa1d6b190c903a3daa815f02 │ 058abae409b8feebc30f284da465a1ff │ 99a4788cb24856965c36a24e339b6058 │ 4a3ca9315b744ce9f8e9374361493884 │ credit_card │ 2017-03-05 15:51:55      │ delivered   │   89.9 │         16.33 │            2 │
│ 9680ba40609bc32c996a447ba7564621 │ f687f0de29ec2bd67dc6505ff1fccaf7 │ 4a0938478787f49dc07af734b86be96c │ 6560211a19b47992c3666cc44a7e94c0 │ boleto      │ 2017-05-15 08:50:44      │ delivered   │  149.0 │         15.79 │            5 │
├──────────────────────────────────┴──────────────────────────────────┴──────────────────────────────────┴──────────────────────────────────┴─────────────┴──────────────────────────┴─────────────┴────────┴───────────────┴──────────────┤
│ ? rows (>9999 rows, 20 shown)                                                                                                                                                                                                 10 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [13]:
# showing all names of the fct_sales 
ddb.sql(
    '''
        SELECT column_name, data_type
        FROM information_schema.columns
        WHERE table_name = 'fct_sales';
    '''
)

┌───────────────────┬───────────┐
│    column_name    │ data_type │
│      varchar      │  varchar  │
├───────────────────┼───────────┤
│ OrderId           │ VARCHAR   │
│ CustomerID        │ VARCHAR   │
│ ProductId         │ VARCHAR   │
│ SellerId          │ VARCHAR   │
│ PaymentType       │ VARCHAR   │
│ OrderPurchaseDate │ TIMESTAMP │
│ OrderStatus       │ VARCHAR   │
│ Price             │ DOUBLE    │
│ FreightValue      │ DOUBLE    │
│ ReviewScore       │ BIGINT    │
├───────────────────┴───────────┤
│ 10 rows             2 columns │
└───────────────────────────────┘

In [12]:
# changing names of some columns into appropriate name 
ddb.sql(
    '''
        ALTER TABLE fct_sales 
        RENAME customer_id to CustomerID;
    '''
)

ddb.sql(
    '''
        ALTER TABLE fct_sales 
        RENAME product_id to ProductId;
    '''
)

ddb.sql(
    '''
        ALTER TABLE fct_sales 
        RENAME seller_id to SellerId;
    '''
)

ddb.sql(
    '''
        ALTER TABLE fct_sales 
        RENAME order_purchase_timestamp to OrderPurchaseDate;
    '''
)

ddb.sql(
    '''
        ALTER TABLE fct_sales 
        RENAME price to Price;
    '''
)

ddb.sql(
    '''
        ALTER TABLE fct_sales 
        RENAME freight_value to FreightValue;
    '''
)

ddb.sql(
    '''
        ALTER TABLE fct_sales 
        RENAME review_score to ReviewScore;
    '''
)

In [15]:
# Checking null values in fct_sales table 
ddb.sql(
    '''
        SELECT
            COUNT(*) AS total_rows,
            COUNT(CASE WHEN OrderId IS NULL THEN 1 END) AS OrderId,
            COUNT(CASE WHEN CustomerID IS NULL THEN 1 END) AS CustomerID,
            COUNT(CASE WHEN ProductId IS NULL THEN 1 END) AS ProductId,
            COUNT(CASE WHEN SellerId IS NULL THEN 1 END) AS SellerId,
            COUNT(CASE WHEN PaymentType IS NULL THEN 1 END) AS PaymentType,
            COUNT(CASE WHEN OrderPurchaseDate IS NULL THEN 1 END) AS OrderPurchaseDate,
            COUNT(CASE WHEN OrderStatus IS NULL THEN 1 END) AS OrderStatus,
            COUNT(CASE WHEN Price IS NULL THEN 1 END) AS Price,
            COUNT(CASE WHEN FreightValue IS NULL THEN 1 END) AS FreightValue,
            COUNT(CASE WHEN ReviewScore IS NULL THEN 1 END) AS ReviewScore,
            
        FROM 
            fct_sales;
    '''
)

┌────────────┬─────────┬────────────┬───────────┬──────────┬─────────────┬───────────────────┬─────────────┬───────┬──────────────┬─────────────┐
│ total_rows │ OrderId │ CustomerID │ ProductId │ SellerId │ PaymentType │ OrderPurchaseDate │ OrderStatus │ Price │ FreightValue │ ReviewScore │
│   int64    │  int64  │   int64    │   int64   │  int64   │    int64    │       int64       │    int64    │ int64 │    int64     │    int64    │
├────────────┼─────────┼────────────┼───────────┼──────────┼─────────────┼───────────────────┼─────────────┼───────┼──────────────┼─────────────┤
│   15670827 │       0 │          0 │       833 │      833 │         423 │                 0 │           0 │   833 │          833 │      131232 │
└────────────┴─────────┴────────────┴───────────┴──────────┴─────────────┴───────────────────┴─────────────┴───────┴──────────────┴─────────────┘

In [17]:
# showing all names of the fct_sales 
ddb.sql(
    '''
        SELECT column_name, data_type
        FROM information_schema.columns
        WHERE table_name = 'fct_sales';
    '''
)

┌───────────────────┬───────────┐
│    column_name    │ data_type │
│      varchar      │  varchar  │
├───────────────────┼───────────┤
│ OrderId           │ VARCHAR   │
│ CustomerID        │ VARCHAR   │
│ ProductId         │ VARCHAR   │
│ SellerId          │ VARCHAR   │
│ PaymentType       │ VARCHAR   │
│ OrderPurchaseDate │ TIMESTAMP │
│ OrderStatus       │ VARCHAR   │
│ Price             │ DOUBLE    │
│ FreightValue      │ DOUBLE    │
│ ReviewScore       │ INTEGER   │
├───────────────────┴───────────┤
│ 10 rows             2 columns │
└───────────────────────────────┘

In [16]:
# changing data type - review score 
ddb.sql(
    '''
        ALTER TABLE fct_sales 
        ALTER COLUMN ReviewScore SET DATA TYPE INT;
    '''
)

In [18]:
# Define the output directory and ensure it exists
output_dir = "/Users/macintoshcider/Documents/Programming/Python/ETL/climate-commerce/analytics"
output_file = os.path.join(output_dir, "fct_sales.csv")
ddb.execute(
    f"""
        COPY fct_sales TO '{output_file}' (FORMAT CSV, HEADER);
    """
)
print(f"Data successfully exported to {output_file}")

Data successfully exported to /Users/macintoshcider/Documents/Programming/Python/ETL/climate-commerce/analytics/fct_sales.csv

In [19]:
# finally close the connection instance 
ddb.close()